desktop() {
  @media (min-width 1024px) {
    {block}
  }
}

media--1200() {
  @media (min-width 1200px) {
    {block}
  }
}

$blue=#002D72
$red=#DA3248
$redhighlight=#FA4258
$white=#FFF
$gray=#eaeaea
$navy=#13294b
$lightblue=#6cace4
$black=#000

html
  background $navy

html,
body
  color $white
  font-family 'Montserrat'
  height 100%
  margin 0
  overflow-x hidden
  padding 0
  width 100%

p
  font-size 18px
  line-height 32px

a
  color $red
  text-decoration none
  transition all .1s
  &:hover
    color $redhighlight

ul
  list-style none
  margin 0
  padding 0

h1
  font-size 68px

.boldLine
  &::after
    content ''
    bottom 70px
    border-bottom 30px solid $red
    display block
    height 30px
    position relative
    right 2%
    width 104%
    z-index -1

#headerContainer
  align-items center
  display flex
  flex-direction column
  width 100%

#header
  display inline-block
  margin 20px auto
  margin-bottom -30px
  text-align center
  text-transform uppercase

#nav
  display flex
  font-size 24px

  li
    padding 10px
  a
    color $gray
    transition .1s all
    &:hover
      color $white
      &:after
        border-bottom 12px solid $redhighlight
    &:after
      content ''
      bottom 26px
      border-bottom 12px solid $red
      display block
      height 12px
      position relative
      right 2%
      transition all .1s
      width 104%
      z-index -1

footer
  color $gray
  margin 0 auto
  padding 50px 0 20px 0
  text-align center

  p
    font-size 14px

.content
  width 100%

  p
    max-width 750px

.content:not(#art) img
  max-height 240px
  max-width 500px

#art,
#automation,
#canvass,
#news,
#videos
  align-items center
  display flex
  flex-direction column

#math
  margin-left 50px

  h2
    display inline-block
    margin-bottom -10px
    &::after
      content ''
      bottom 40px
      border-bottom 20px solid $red
      display block
      height 20px
      position relative
      right 2%
      width 104%
      z-index -1
    + h3
      margin-top 20px

  h3
    color $gray
    font-size 24px
    font-style italic
    margin-top 75px
    margin-bottom 30px
    max-width 750px

  p
    font-size 18px
    line-height 32px

#canvass
  h2
    font-size 32px
    margin-bottom -10px
    margin-top 50px
    &::after
      content ''
      bottom 32px
      border-bottom 15px solid $red
      display block
      height 15px
      position relative
      right 2.5%
      width 105%
      z-index -1

  .canvassImages
    display flex
    max-width 100%

    img
      margin-right 20px
