desktop() {
  @media (min-width 1024px) {
    {block}
  }
}

media--1200() {
  @media (min-width 1200px) {
    {block}
  }
}

boldLine(thickness) {
  &:after {
    bottom thickness * 2
    border-bottom thickness solid $red
    height thickness
  }
}

$blue=#002D72
$red=#DA3248
$redhighlight=#FA4258
$white=#FFF
$gray=#eaeaea
$navy=#13294b
$lightblue=#6cace4
$black=#000

html
  background $navy

html,
body
  color $white
  font-family 'Montserrat'
  height 100%
  margin 0
  overflow-x hidden
  padding 0
  width 100%

p
  font-size 18px
  line-height 32px

a
  color $red
  text-decoration none
  transition all .1s
  &:hover
    color $redhighlight

ul
  list-style none
  margin 0
  padding 0

h1
  font-size 68px

.boldLine
  &::after
    content ''
    bottom 70px
    border-bottom 30px solid $red
    display block
    height 30px
    position relative
    right 2%
    width 104%
    z-index -1

.red
  color $red

#headerContainer
  align-items center
  display flex
  height 90px
  flex-direction column
  width 100%
  +desktop()
    height 130px

#header
  display inline-block
  font-size 40px
  margin 20px auto
  margin-bottom 0px
  text-align center
  text-transform uppercase
  boldLine(20px)

  +desktop()
    font-size 64px
    boldLine(40px)

#nav
  display flex
  font-size 24px

  li
    padding 10px
  a
    color $gray
    transition .1s all
    &:hover
      color $white
      &:after
        border-bottom 12px solid $redhighlight
    &:after
      content ''
      bottom 26px
      border-bottom 12px solid $red
      display block
      height 12px
      position relative
      right 2%
      transition all .1s
      width 104%
      z-index -1

footer
  color $gray
  margin 0 auto
  padding 50px 0 20px 0
  text-align center
  +desktop()
    margin-top 30px

  p
    font-size 14px

.content
  width 100%

  p
    max-width 750px

.content img
  max-height 240px
  max-width 500px

#stateSubreddit
  align-items center
  display flex
  flex-direction column

  p
    font-size 14px
    text-align center
    +desktop()
      font-size 18px
      line-height 18px

  #subredditStateHeader
    boldLine(8px)
    margin-bottom 20px
    margin-top 0
    font-size 20px

    +desktop()
      boldLine(20px)
      font-size 40px

  #progressBarContainer
    border 5px solid $gray
    border-radius 10px
    height 50px
    margin-bottom 50px
    margin-top 150px
    max-width 700px
    position relative
    width 65%
    +desktop()
      margin-bottom 110px

  #progressBar
    animation-name bar
    animation-duration 1.2s
    animation-iteration-count infinite
    background $red
    height 100%
    transform scale(0.5, 1)
    transform-origin 0% 50%

  .progressGoal
    display none
    max-width 130px
    right -128px
    position absolute
    top -115px
    +desktop()
      display block

  .progressGoalMobile
    position absolute
    right -40px
    top -5px
    transform rotate(90deg)
    +desktop()
      display none

  .miniYang
    left 80px
    position absolute
    top -140px
    transform scale(-1, 1)
    transform-origin 0% 50%
    width 100px

  #count
    font-size 25px
    margin-bottom 0
    margin-top 0
    position relative
    text-transform uppercase
    top 10px
    +desktop()
      margin-top 10px
      font-size 40px

  .deadline
    color $gray
    font-style italic
    text-align center

  .stateNotify
    font-size 20px
    text-align center
    +desktop()
      font-size 40px

  #states
    display grid
    grid-template unquote('repeat(26, 1fr) / repeat(2, 1fr)')
    grid-auto-flow column dense
    left 10px
    margin-top 20px
    max-width 800px
    position relative
    width 90%
    +desktop()
      left 75px
      margin-top 10px

    li
      margin-bottom 15px
      +desktop()
        margin-bottom 5px

@keyframes bar {
  0% { background: $red; }
  50% { background: lighten($red, 15%); }
  100% { background: $red; }
}
