desktop() {
  @media (min-width 1024px) {
    {block}
  }
}

isSearching() {
  [data-is-searching="true"] {
    {block}
  }
}

$blue=#002D70
$red=#DA344B

html,
body
  font-family 'Roboto'
  height 100%
  margin 0
  padding 0
  width 100%

a
  color $red

ul
  list-style none
  margin 0
  padding 0

#background,
#mask
  height 100%
  left 0
  position fixed
  top 0
  width 100%

#background
  background-image url(/assets/hero.jpg)
  background-position 50% 0
  background-size cover
  z-index -2
  +desktop()
    background-position 0 0

#logo
  height 100px
  left 0
  position fixed
  top 0
  width 100px

#video
  border 5px solid alpha($blue, 0.65)
  left 0
  margin 0 auto
  margin-top 20px
  max-height 240px
  max-width 90%
  position absolute
  right 0
  transition transform 0.75s
  transform translate(0, 0);
  &[data-is-searching="true"]
    transform translate(0, -1000px);
  +desktop()
    max-height 100%

#app
  height 100%
  width 100%

#outerSearchContainer
  bottom 20px
  display flex
  flex-direction column
  left 0
  margin 0 10px
  position absolute
  right 0
  +desktop()
    bottom 60px
    margin 0 auto

#searchContainer
  align-items flex-end
  display flex
  justify-content center
  margin-bottom 20px
  width 100%

#gif
  margin-right 5px
  max-height 84px
  +desktop()
    margin-right 10px
    max-height 128px

#search
  -webkit-appearance none
  -webkit-box-shadow none
  background-image url(/assets/inputBg.png)
  border 0
  border-radius 30px 5px 30px 5px
  box-shadow none
  color #111
  font-family 'Roboto'
  font-size 16px
  font-weight 400
  height 55px
  opacity 0.9
  padding 5px 20px 5px 20px
  transition .2s background
  width 280px
  &:hover:not(:focus),
  &:focus
    background alpha(#FAFAFA, 0.85)
  +desktop()
    font-size 18px
    width 320px

input::placeholder
  color #777
  font-family 'Roboto'
  font-style italic
  opacity 0.95
  text-transform none

#suggested
  display none
  flex-direction column
  padding 0
  margin 0 auto
  +desktop()
    flex-direction row
    display flex

  li
    background-image url(/assets/bg.png)
    border-radius 50px 5px 50px 5px
    color #FAFAFA
    cursor pointer
    margin-right 20px
    opacity 0.9
    padding 10px 20px
    text-transform uppercase
    transition .2s background
    &:hover
      opacity 1
  i
    display inline-block
    width 25px

#results
  align-items flex-start
  color #FAFAFA
  display flex
  flex-direction column
  height 75%
  margin-top 5px
  overflow-x hidden
  overflow-y auto
  +desktop()
    flex-direction row
    height 100%
    overflow-x auto
    overflow-y hidden

.resultCard
  box-shadow 1px 0 1px 0 #222
  border-radius 20px 5px 20px 5px
  display inline-block
  font-size 12px
  padding 15px
  position relative
  margin 10px
  min-width 320px
  max-width 320px
  &::after
    content ''
    background url(/assets/bg.png) repeat scroll 0% 0%
    opacity 0.85
    top 0
    left 0
    bottom 0
    right 0
    position absolute
    z-index -1
  +desktop()
    border-radius 40px 2px 40px 2px
    font-size 18px
    padding 20px

  .icon
    font-size 36px
    right -10px
    opacity 0.75
    position absolute
    top -10px

  h2
    color $red
    font-family 'Zilla Slab Highlight'
    font-weight bold
    font-size 20px
    text-transform uppercase
    i
      display inline-block
      margin-right 10px
    +desktop()
      font-size 26px
      min-height 95px

  .problem
    +desktop()
      font-size 16px
      line-height 26px
      min-height 105px
    b
      font-family 'Zilla Slab Highlight'
      margin-right 2px;
      text-transform uppercase

  .statement
    img
      border-radius 50px
      height 32px
      margin-right 10px
      opacity 0.85
      position relative
      top 4px
      width 32px
    +desktop()
      font-size 16px
      line-height 26px
    b
      font-family 'Zilla Slab Highlight'
      margin-right 2px;
      text-transform uppercase

  .searchHighlight
    color lighten($red, 15%)
    font-weight bold

.footer
  bottom 0
  color #FAFAFA
  font-size 9px
  font-style italic
  position absolute
  left 0
  right 0
  text-align center
  opacity 0.75
  margin-left auto
  margin-right auto
  +desktop()
    font-size 14px

.fade-enter-active,
.fade-leave-active
  transition opacity .5s

.fade-enter,
.fade-leave-to
  opacity 0
