desktop() {
  @media (min-width 1024px) {
    {block}
  }
}

isSearching() {
  [data-is-searching="true"] {
    {block}
  }
}

html,
body
  font-family 'Roboto'
  height 100%
  margin 0
  padding 0
  width 100%

ul
  list-style none
  margin 0
  padding 0

#background,
#mask
  height 100%
  left 0
  position fixed
  top 0
  width 100%

#background
  background-image url(/assets/hero.png)
  background-size cover
  z-index -2

#logo
  height 100px
  left 0
  position fixed
  top 0
  width 100px

#video
  border 5px solid alpha(#002d70, 0.65)
  left 0
  margin 0 auto
  margin-top 20px
  max-height 180px
  max-width 90%
  position absolute
  right 0
  transition transform 0.75s
  transform translate(0, 0);
  &[data-is-searching="true"]
    transform translate(0, -1000px);
  +desktop()
    max-height 100%

#app
  height 100%
  width 100%

#outerSearchContainer
  bottom 20px
  display flex
  flex-direction column
  left 0
  margin 0 10px
  position absolute
  right 0
  +desktop()
    bottom 60px
    margin 0 auto

#searchContainer
  align-items flex-end
  display flex
  justify-content center
  margin-bottom 20px
  width 100%

#gif
  margin-right 5px
  max-height 84px
  +desktop()
    margin-right 10px
    max-height 128px

#search
  background rgba(0.8, 0.8, 0.9, 0.75)
  border 0
  border-radius 50px
  color #FAFAFA
  font-size 16px
  font-style italic
  font-weight 400
  height 56px
  padding 5px 20px 5px 20px
  transition .2s background
  width 320px
  &:hover:not(:focus),
  &:focus
    background rgba(1, 1, 1, 0.5)
  +desktop()
    font-size 20px

input::placeholder
  opacity 1
  color #FAFAFA

#suggested
  display none
  flex-direction column
  padding 0
  margin 0 auto
  +desktop()
    flex-direction row
    display flex

  li
    background alpha(#002d70, 0.85)
    border-radius 50px
    color #FAFAFA
    cursor pointer
    margin-right 20px
    padding 10px 20px
    text-transform uppercase
    transition .2s background
    &:hover
      background alpha(#305dA0, 0.85)
  i
    display inline-block
    width 25px

#results
  align-items top
  color #FAFAFA
  display flex
  height 100%
  overflow-x auto
  overflow-y hidden

.resultCard
  background alpha(#002d70, 0.85)
  box-shadow 1px 0 1px 0 #222
  border-radius 20px
  display inline-block
  font-size 12px
  height unquote('calc(100% - 320px)')
  padding 15px
  margin 10px
  min-width 320px
  max-width 320px
  +desktop()
    border-radius 50px
    font-size 18px
    padding 20px

  .problem
    +desktop()
      min-height 90px

  h2
    color #da344b
    font-family Merriweather
    font-size 20px
    text-transform uppercase
    +desktop()
      font-size 24px
      min-height 100px

  .statement
    font-style italic

.footer
  bottom 0
  color #FAFAFA
  font-size 9px
  font-style italic
  position absolute
  left 0
  right 0
  text-align center
  opacity 0.75
  margin-left auto
  margin-right auto
  +desktop()
    font-size 14px
