desktop() {
  @media (min-width 1024px) {
    {block}
  }
}

media--1200() {
  @media (min-width 1200px) {
    {block}
  }
}

$blue=#002D72
$red=#DA3248
$white=#FFF
$grey=#eaeaea
$navy=#13294b
$lightblue=#6cace4
$black=#000

html
  background $blue

html,
body
  color $white
  font-family 'Montserrat'
  height 100%
  margin 0
  padding 0
  overflow-y hidden
  width 100%

a
  color $red

ul
  list-style none
  margin 0
  padding 0

h1
  font-size 50pt

p,
a
  font-size 9.5pt

.headerContainer
  display flex
  justify-content center

.header
  display inline-block
  margin 20px auto
  text-align center
  text-transform uppercase

.boldLine
  &::after
    content ''
    bottom 70px
    border-bottom 30px solid $red
    display block
    height 30px
    position relative
    right 2%
    width 104%
    z-index -1
